{%extends 'admin/Base.html.twig'%}



{% block body %}
<div style="margin-right:50px;margin-left:350px">
   <title>Edit Assurance</title>
    <h1>Edit Assurance</h1>

    {{ include('assurance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_assurance_index') }}">back to list</a>

    {{ include('assurance/_delete_form.html.twig') }}
 </div>
{% endblock %}
