{%extends 'admin/Base.html.twig'%}



{% block body %}
<div style="margin-right:50px;margin-left:350px">
  <title>New Assurance</title>
   <div style="margin-right:50px;margin-left:350px">
     <h1>Create new Assurance</h1>

     {{ include('assurance/_form.html.twig') }}

     <a href="{{ path('app_assurance_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
