{% extends 'admin/Base.html.twig'%}

{% block title %}
<title>New Actualite</title>
{% endblock %}

{% block body %}
<div style="margin-left: 500px; margin-top:100px; margin-right:200px; padding:50px;">
    <h1>Creer une nouvelle actualité</h1>

    {{ include('actualite/_form.html.twig') }}
    
    <a class="btn btn-secondary" href="{{ path('app_actualite_index') }}">back to list</a>
</div>    
{% endblock %}
